@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=PT+Sans:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff;        
}

/* ------------------------ COLORS AND FONTS*/

.navbar {
    background-color: #222222;    
}

.nav-link {
    color: #B3B3B3;
}

.nav-link:hover {
    color: #fff;
}

/* ------------------------ MOTIVATION*/

.motivation-left {
    background-color: #DB4749;
}

.motivation-right {
    background-color: grey;
}

.motivation-left,
.motivation-right {
    color: #fff; 
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 90px;
}

.motivation-text-left {
    float: right;
}

.motivation-text-right {
    float: left;
}

.motivation-text-left, 
.motivation-text-right {
    max-width: 550px;
}

.motivation a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px;
}


/* ------------------------ WHO ARE WE?*/

.whoarewe-header {
    text-align: center;
}

.whoarewe-header {
    color: #383838;
}

.whoarewe-content {
    color: #9B9B9B;
}

.whoarewe-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.whoarewe-wrapper img {
    width: 350px;    
}

/* ------------------------ FEATURES*/

.feature-wrapper {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 30px;
}

.feature-content {
    color: #fff;
    border-right: 1px solid white;
    border-color: #9B9B9B;
}

.feature-content > i {
    font-size: 2em;    
    padding-bottom: 50px;
}

.feature-content p {
    color: #DB4749;
}

.active {
    color: #fff;
}

.carousel-item {
    height: 40rem;
    color: #fafafa;
    position: relative;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    /* opacity: 0.9; */
}

.card {
    background-color: #ece5e5;
}

.card-title {
    font-family: 'Heebo', sans-serif;
}



#footer-bar {
    background-color: #979797;
}

/* ------------------------ PADDINGS, MARGINS, TEXT */

.uppercase {
    text-transform: uppercase;
}

#main-offers {
    background-color: #a8a8a8;
    padding: 30px 0px;
}

#main-offers h3 {
    font-weight: 500;
    padding-bottom: 5px;
}

.card {
    margin: 0px 5px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card-body:hover {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.gym-portrait {
    float: left;
}

.review {
    padding: 10px;
    margin-left: 170px;
}

.review-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

.review-card {
    margin-left: 0px;
}

#footer-bar {
    margin-top: 30px;
}

.testcolor {
    background-color: #71dafa;
}