@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=PT+Sans:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {    
    font-family: 'Oswald', sans-serif;    
    background-color: #ffffff;        
}

body p {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    color: #9B9B9B;
}

#footer-bar p {
    font-family: 'Oswald', sans-serif; 
}

#banner {       
    position: relative;   
    background-image: url("../images/banner-2.jpg");
    background-position: center center;
    height: 400px;      
} 

#overlay {  /* To darken background image */
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.55;    
}

#banner h2 {      
    position: relative;
    z-index: 1;
    font-size: 60px;
    color: #fff;    
    opacity: 0.9;    
}

#banner p {
    position: relative;
    z-index: 1;
    color: #DB4749;
    font-style: italic;    
}

#banner-content {  /* To vertically and horizontally center the heading */
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------------------------ NAVBAR */

.navbar {
    background-color: #222222;    
}

.nav-link {
    color: #B3B3B3;
}

.nav-link:hover {
    color: #fff;
}


/* ------------------------ PADDINGS, MARGINS, TEXT */

.uppercase {
    text-transform: uppercase;
}


.card {
    margin: 0px 5px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card-body:hover {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

/* ------------------------ CAROUSEL*/

.carousel-item {
    height: 40rem;
    color: #fafafa;
    position: relative;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center top;
    background-size: cover;
    /* opacity: 0.9; */
}

.carousel-container h1 {
    font-size: 140px;
    font-weight: 400;
}

.carousel-container h2 {
    font-size: 100px;
    font-weight: 300;
    color: #BFBFBF;
}

/* ------------------------ MOTIVATION*/

.motivation h5 {    
    font-size: 20px;
    display: inline;        
}

.motivation p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.motivation-left {
    background-color: #DB4749;
}

.motivation-right {    
    background-image: url("../images/motivation-bg-right3.jpg");
    opacity: 0.8;       
    background-position: center top;
    background-size: cover;
}

.motivation-left,
.motivation-right {
    color: #fff; 
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 90px;
}

.motivation-text-left {
    float: right;
}

.motivation-text-right {
    float: left;
}

.motivation-text-left, 
.motivation-text-right {
    max-width: 550px;
}

.motivation a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px;
}


/* ------------------------ WHO ARE WE? ------------ OUR TRAINERS ---------*/
/* These two sections share very similar styling*/

.whoarewe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.whoarewe p {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    color: #9B9B9B;
}

.whoarewe > img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.whoarewe > h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300; 
    letter-spacing: 2px;     
}

.whoarewe-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.whoarewe-header h2 {
    font-size: 40px;
    text-align: center;
    color: #383838;
    letter-spacing: 2px;    
}

.whoarewe-content {
    color: #9B9B9B;
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    line-height: 1.7;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* ------------------------ FEATURES*/

.feature-wrapper {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 30px;
}

.feature-content {
    color: #fff;
    border-right: 1px solid white;
    border-color: #9B9B9B;
}

.feature-content > i {
    font-size: 2em;    
    padding-bottom: 50px;
}

.feature-content p {
    color: #DB4749;
}

/* ------------------------- SUCCESS STORIES */

.success-stories-wrapper {
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.success-header {    
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.success-header > h2 {
    color: #383838;
    font-size: 40px;
    text-align: center;
}

.review {
    padding: 10px;
    margin-left: 170px;
}

.review > h5 {
    color: #222222;
    font-weight: 500;
    letter-spacing: 2px;
}

.review p {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    margin-top: 20px;
}

.review-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

.review-card {
    margin-left: 0px;
    margin-top: 20px;
}

.gym-portrait {
    float: left;
}

/* ------------------------ PRICING PLAN */

#pricing-plan-wrapper {
    background-color: #222222;
    padding: 30px 0px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/pricing-plan-bg2.jpg");    
    background-position: center bottom;
    background-size: cover;    
}

 .pricing-plan-title {
    color: #FFF;
    font-weight: 500;
    padding-bottom: 5px;
}

 .pricing-plan-title > h1 {
    letter-spacing: 3px;
 }

.pricing-plan-title > p {
    color: #DB4749;
    font-weight: 300;
    font-size: 1.2em;
}

.pricing-header {
    background-color: #383838;    
    color: #fff;
    padding: 40px;
}

.pricing-header > p {
    color: #9B9B9B;
}

.pricing-header > i {
    margin-bottom: 25px;
}

.ph-highlighted {
    background-color: #DB4749;
}

.ph-highlighted > p {
    color: #222222;
}

.btn-normal {
    color: #fff;
    background-color: #383838;
    border-color: #383838;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.btn-normal:hover {
    color: #9B9B9B;
}

.btn-highlight {
    color: #fff;
    background-color: #DB4749;
    border-color: #DB4749;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
}


.active {
    color: #fff;
}

.card {
    background-color: #ece5e5;
}

.card-title {
    font-family: 'Heebo', sans-serif;
}



/* ------------------------ FOOTER */


#footer-bar {
    margin-top: 30px;
    background-color: #222222;
    color: #9B9B9B;
}

#footer-bar h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer-bar p {
    color: #fff;
    margin-left: 30px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

#footer-bar span {
    color: #DB4749;
    font-weight: 400;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;   
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #9B9B9B;
}

/* ------------------------ PHOTO GALLERY ----------- */



#gallery h3 {
    font-family: "Raleway", sans-serif;
    color: #383838;
    text-transform: capitalize;
    size: 36px;
    font-weight: 500;
}

#gallery img {
    width: 350px;    
}

/* ------------------------ CONTACT FORM ----------- */

.contactus-wrapper {
    margin-top: 40px;
}

.contactus-content {
    color: #9B9B9B;
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    line-height: 1.7;
    margin-top: 50px;   
}

#contact-form h3 {
    font-family: "Raleway", sans-serif;
    color: #383838;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 25px; 
}

#contact-form h5 {
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    color: #383838;
    letter-spacing: 1px; 
    margin-bottom: 15px;  
    font-weight: 400;
}

 input[type="radio"] {
    margin-left: 20px;
 }

 .form-selection {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    color: #9B9B9B; 
 }

 button[type="submit"] {
    letter-spacing: 1px;   
    transition: all 0.3s ease;   
 }

 button[type="submit"]:hover {
    color: #DB4749;    
 }

 /*
 input[type="text"]:hover {
    background-color: rgb(245, 245, 245);
 }
*/

.email-link {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    color: #9B9B9B;
    text-decoration: none;
    transition: all 0.3s ease; 
}

.email-link:hover {
    color: #DB4749;
}
}

/* ------------------------ FACILITIES ----------- */

.textwrap-right {    
    float: right;
    margin-left: 50px;
}

.textwrap-left {    
    float: left;
    margin-right: 50px;
}

#facilities {
    max-width: 1000px;
}

#facilities p {
    font-family: 'Source Sans', 'Source Sans Pro', Times, serif;
    color: #9B9B9B;
}

#facilities h3 {
    font-family: "Raleway", sans-serif;
    color: #383838;    
    size: 36px;
    font-weight: 500;
    margin-bottom: 25px;
}

#facilities img {
    width: 480px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 576px) {
    #contact-form {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #contact-form iframe {
        width: 100%;
    }
    
}


@media screen and (max-width: 768px) {
    .facilities-grid-row-text {
        flex-direction: column-reverse;      
    }    
    
}