@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=PT+Sans:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --navbar-font: 'Source Sans Pro', Times, serif;
    --navbar-color: #B3B3B3;
    --main-body-font: 'Oswald', sans-serif; 
    --main-paragraph-font: 'Source Sans Pro', Times, serif;
    --main-paragraph-color: #9B9B9B;
    --motivation-box-font: 'PT Sans', sans-serif;
}

/* ------------------------ MAIN FONTS, HEADINGS & COLORS */

body {    
    font-family: var(--main-body-font);    
    background-color: #ffffff;   
}

body p {
    font-family: var(--main-paragraph-font);
    color: var(--main-paragraph-color);
}

.section-title h2 {             /* Section headings on the Index page */
    font-size: 40px;
    text-align: center;
    color: #383838;
    letter-spacing: 2px;    
}

.page-heading {                 /* Paragraph titles on the individual pages */
    font-family: "Raleway", sans-serif;
    color: #383838;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 25px; 
}

.section-content {              /*  Section paragraph format on the Index page */  
    line-height: 1.7;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-caption {                  /* Captions for images on the Index page */
    font-weight: 300; 
    letter-spacing: 2px;     
}

#footer-bar p {
    font-family: 'Oswald', sans-serif; 
}


/* ------------------------ PADDINGS, MARGINS, TEXT, POSITIONING */

.container-wrapper {    /* Paddings and margins around the sections */
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.card {                 /* For content in card-style (i.e. Pricing) */
    margin: 0px 5px;   
    background-color: #ece5e5;
}

.vh-center {            /* Vertical and horizontal centering*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.uppercase {
    text-transform: uppercase;
}

.link-box,              /* Border around a link */
.link-box:hover { 
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px;
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;
}

.link-box-dark {
    color: #222222;
    border: 1px solid #222222;
    padding: 8px;    
}

.link-box-dark:hover {
    color: #DB4749;
    border: 1px solid #DB4749;
    padding: 8px;
}

/* ------------------------ NAVBAR */

.gym-name-part-1 {
    color: #DB4749;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gym-name-part-2 {
    color: #BFBFBF; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
}

.navbar {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #222222;    
}

.nav-link {
    font-family: var(--navbar-font);
    text-transform: uppercase;
    color: var(--navbar-color);
    font-weight: 600;
}



/* ------------------------ BANNER */

#banner {       
    position: relative;    
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/banner.jpg");  
    background-position: center center;
    height: 400px;      
} 

#banner h1 {      
    font-size: 60px;
    letter-spacing: 3px; 
    color: #fff;    
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;    
}

.banner-description {
    margin-top: 50px;
}

#banner p {    
    color: #DB4749;
    font-style: italic;    
}


/* ------------------------ FOOTER */


#footer-bar {
    margin-top: 30px;
    background-color: #222222;
    color: #9B9B9B;
}

#footer-bar h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer-bar p {
    color: #fff;
    margin-left: 30px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

#footer-bar span {
    color: #DB4749;
    font-weight: 400;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;       
}

.social-networks i {
    font-size: 160%;     
    padding: 5%;
    color: #9B9B9B;
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;
}

.social-networks i:hover {
    color: #DB4749;
}

/* ------------------------ CAROUSEL*/

.carousel-item {       
    color: #fafafa;
    position: relative;
}

.carousel-container {
    position: absolute;  
    right: 0;
    left: 50px;
    bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center top;
    background-size: cover;    
}

.carousel-container {
    font-family: var(--main-body-font);
}

.carousel-container h1 {
    font-size: 120px;
    font-weight: 400;
}

.carousel-container h2 {
    font-size: 80px;
    font-weight: 300;
    color: #BFBFBF;
}

/* ------------------------ MOTIVATION BOX*/

#motivation h5 {    
    font-size: 20px;
    display: inline;        
}

#motivation p {
    font-family: var(--motivation-box-font);
    color: #fff;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.motivation-left {
    background-color: #DB4749;
}

.motivation-right {    
    background-image: url("../images/motivation-bg-right3.jpg");
    opacity: 0.8;       
    background-position: center top;
    background-size: cover;
}

.motivation-left,
.motivation-right {
    color: #fff; 
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 90px;
}

.motivation-text-left {
    float: right;
}

.motivation-text-right {
    float: left;
}

.motivation-text-left, 
.motivation-text-right {
    max-width: 550px;
}

/* ------------------------ FEATURES*/

.feature-wrapper {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 30px;
}

.feature-content {
    color: #fff;
    border-right: 1px solid white;
    border-color: #9B9B9B;
}

.feature-content > i {
    font-size: 2em;    
    padding-bottom: 50px;
}

.feature-content p {
    color: #DB4749;
}

/* ------------------------- SUCCESS STORIES */

.review {
    padding: 10px;
    margin-left: 170px;
}

.review > h5 {
    color: #222222;
    font-weight: 500;
    letter-spacing: 2px;
}

.review-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

.review-card {
    margin-left: 0px;
    margin-top: 20px;
}

.gym-portrait {
    float: left;
}

/* ------------------------ PRICING PLAN */

#pricing-plan-wrapper {
    background-color: #222222;
    padding: 30px 0px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/pricing-plan-bg2.jpg");    
    background-position: center bottom;
    background-size: cover;    
}

 .pricing-plan-title {
    color: #FFF;
    font-weight: 500;
    padding-bottom: 5px;
}

 .pricing-plan-title > h1 {
    letter-spacing: 3px;
 }

.pricing-plan-title > p {
    color: #DB4749;
    font-weight: 300;
    font-size: 1.2em;
}

.pricing-header {
    background-color: #383838;    
    color: #fff;
    padding: 40px;
    height: 230px;
}

.pricing-header > i {
    margin-bottom: 25px;
}

.ph-highlighted {
    background-color: #DB4749;
}

.ph-highlighted > p {
    color: #222222;
}

.btn-normal {
    color: #fff;
    background-color: #383838;
    border-color: #383838;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.btn-normal:hover {
    color: #9B9B9B;
}

.btn-highlight {
    color: #fff;
    background-color: #DB4749;
    border-color: #DB4749;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.active {
    color: #fff;
}

/* ------------------------ FACILITIES PAGE ----------- */

#facilities {
    max-width: 1000px;
}

#facilities p {    
    margin-bottom: 30px;
}

#facilities h3 {
    font-family: "Raleway", sans-serif;
    color: #383838;     
    font-weight: 500;
    margin-bottom: 25px;
}

#facilities img {
    width: 480px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------ MEMBERSHIPS PAGE ----------- */

#membership-wrapper {
    background-color: #222222;
    padding: 30px 0px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/pricing-plan-bg2.jpg");    
    background-position: center center;      
}

.membership-heading {
    font-size: 60px;
    opacity: 0.9;  
}

.membership-description {
    color: #DB4749;
    font-style: italic;     
}

.membership-icon {
    font-size: 36px;
}

.pricing-content {
    position: relative;
    height: 280px;
}
 

/* ------------------------ PHOTO GALLERY PAGE ----------- */

#gallery img {
    width: 380px; 
    transition: transform .2s;     
}

#gallery img:hover {
    transform: scale(1.05);    
}

/* ------------------------ CONTACT FORM PAGE ----------- */

#contact-form h5 {    
    font-size: 17px;
    color: #383838;
    letter-spacing: 1px; 
    margin-bottom: 15px;  
    font-weight: 400;
}

 input[type="radio"] {
    margin-left: 20px;
 }

 .form-selection {
    font-family: var(--main-paragraph-font);
    color: var(--main-paragraph-color);
 }

 button[type="submit"] {
    letter-spacing: 1px;   
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;
 }

 button[type="submit"]:hover {
    color: #DB4749;    
 } 

.email-link {
    font-family: var(--main-paragraph-font);
    color: var(--main-paragraph-color);
    text-decoration: none;
    transition: all 0.3s ease; 
}

.email-link:hover {
    color: #DB4749;
}

/* ------------------------ MEDIA QUERIES ----------- */

@media screen and (max-width: 576px) {

    .carousel-item {
        height: 40vh;      
    }

    .carousel-container {        
        left: 25px;
        bottom: 25px;
    }

    .carousel-container h1 {
        font-size: 60px;        
    }

    .carousel-container h2 {
        font-size: 40px;
    }

    .motivation-left,
    .motivation-right {        
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 60px;
}
    
    #contact-form {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #contact-form iframe {
        width: 100%;
    }

    #facilities {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 40px;
    } 

    .gym-portrait {
        float: none;
        display: block;   
        margin: auto;
        width: 50%;        
    }

    .review {
        margin-left: 0;        
    }   

    .feature-content {        
        border-right: none;               
    }

    .feature-content:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 75%;
        border-bottom: 1px solid #9B9B9B;
    }

    .feature-content-last:after {        
        border-bottom: none;
    }

    .feature-content > i {          
        padding-top: 20px;
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 577px) {
    .carousel-item {
        height: 35vw; 
        min-height: 500px;        
    }
    
}

@media screen and (min-width: 577px) and (max-width: 1400px) {  

    .carousel-container h1 {
        font-size: 90px;        
    }

    .carousel-container h2 {
        font-size: 55px;
    }
    
}

@media screen and (max-width: 768px) {   
    

    .container-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;        
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .facilities-grid-row-text {              /* For mobile view to place image under text */
        flex-direction: column-reverse;      
    }    
    
    #facilities img {
        padding-top: 40px;
    }   

}
